build_vc2017
build
build_vc6
Debug
Release
*.ncb
*.plg
*.obj
*.opt
Scripts/satsuki*
Scripts/bin_comp/venv/*
Scripts/bin_comp/diff
10.5.exe
vscommondir.reg
.vs
__pycache__
Scripts/bin_comp/new_data.json
Scripts/bin_comp/*og_asm.txt
Scripts/bin_comp/*og_asm_post_processed.txt
Scripts/bin_comp/*new_asm_post_processed.txt
Scripts/bin_comp/pyvenv.cfg
.vscode/settings.json
.idea
cmake-build-debug
GTA2_data
venv
