name: CI

on: [push, pull_request]

jobs:
    # ======================================
    #      Windows vc2019
    # ======================================

  build-windows-latest:
    runs-on: windows-latest
    name: Windows_VC_Latest

    steps:
    - name: Checkout repository recursively
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Build on Windows (Windows_VC_Latest)
      run: |
        mkdir build_vc_latest
        cd build_vc_latest
        cmake .. -G"Visual Studio 17 2022" -A Win32
        cmake --build . --target decomp_main --config Release
        cd ..

    - name: Upload artifacts on Windows (Windows_VC_Latest)
      uses: actions/upload-artifact@v4
      with:
        name: Windows_VC_Latest_main_exe
        path: build_vc_latest/Release/decomp_main.exe

    # ======================================
    #      Windows vc6
    # ======================================

  build-windows-vc6:
    runs-on: windows-latest
    name: Windows_VC6

    steps:
    - name: Checkout repository recursively
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Restore cached binaries
      id: cache
      uses: actions/cache@v3
      with:
        enableCrossOsArchive: true
        path: |
          Scripts/bin_comp/9.6f.exe
          Scripts/bin_comp/10.5.exe
        key: originals

    - name: Build on Windows (Windows_VC6)
      run: |
        pip install -r requirements.txt
        python vc6_setup.py
        python build.py
        build_vc6/decomp_main.exe --check_vars_only

    - name: Upload artifacts on Windows (Windows_VC6)
      uses: actions/upload-artifact@v4
      with:
        name: windows_vc6_main_exe
        path: build_vc6/decomp_main.exe

    - name: Restore progress.json from cache (Windows_VC6)
      if: github.event_name == 'push'
      id: cache-progress
      uses: actions/cache/restore@v4
      with:
        path: ./Scripts/progress.json
        key: progress-json-${{ github.event.before }}

    - name: "Post function status on discord (Windows_VC6)"
      env:
        DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
        COMMIT_MESSAGE: ${{ github.event.head_commit.message }}
      if: github.event_name == 'push' && !github.event.repository.fork
      run: |
        cd .\Scripts
        python report_progress_to_discord.py

    - name: Save progress.json to cache (Windows_VC6)
      if: github.event_name == 'push'
      uses: actions/cache/save@v4
      with:
        path: ./Scripts/progress.json
        key: progress-json-${{ github.sha }}

    # ======================================
    #      Reccmp
    # ======================================

  reccmp:
    runs-on: windows-latest
    name: Reccmp_VC6

    steps:
    - name: Checkout repository recursively
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Restore cached binaries
      id: cache
      uses: actions/cache@v3
      with:
        enableCrossOsArchive: true
        path: |
          Scripts/bin_comp/9.6f.exe
          Scripts/bin_comp/10.5.exe
        key: originals

    - name: Build on Windows (Windows_VC6)
      run: |
        pip install -r requirements.txt
        pip install git+https://github.com/isledecomp/reccmp
        python vc6_setup.py
        python build.py --reccmp
        build_vc6/decomp_main.exe --check_vars_only

    - name: Reccmp
      run: |
        copy build_vc6/decomp_main.exe build_vc6/10.5.exe
        copy build_vc6/decomp_main.pdb build_vc6/10.5.pdb
        reccmp-project detect --what original   --search-path Scripts/bin_comp
        reccmp-project detect --what recompiled --search-path build_vc6
        reccmp-reccmp --target 105 --html reccmp-105.html

    - name: Upload artifacts on Windows (Windows_VC6)
      uses: actions/upload-artifact@v4
      with:
        name: reccmp-105
        path: |
          build_vc6/decomp_main.exe
          build_vc6/decomp_main.pdb
          reccmp-105.html

    - name: Compare variables
      continue-on-error: true  # For initial PR. Remove once the reported diffs are solved.
      run: |
        reccmp-datacmp --target 105

    # ======================================
    #      Linux vc6
    # ======================================

  build-linux-vc6:
    runs-on: ubuntu-latest
    name: Linux_wine_VC6

    steps:
    - name: Checkout repository recursively
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Install dependencies on Linux
      run: |
        sudo dpkg --add-architecture i386
        sudo apt-get update
        sudo apt-get install -y xvfb wine64 wine32

    - name: Restore cached binaries
      id: cache
      uses: actions/cache@v3
      with:
        enableCrossOsArchive: true
        path: |
          Scripts/bin_comp/9.6f.exe
          Scripts/bin_comp/10.5.exe
        key: originals

    - name: Build on Linux
      run: |
        python3 -m venv venv
        source venv/bin/activate
        pip install -r requirements.txt
        python3 vc6_setup.py
        python3 build.py

    - name: Upload artifacts on Linux
      uses: actions/upload-artifact@v4
      with:
        name: linux_vc6_main_exe
        path: build_vc6/decomp_main.exe
